<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if signed_in? %>
  <%= link_to "Sign out", signout_path, method: "delete" %>
<% end %>